In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
# Files to load
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

In [3]:
# Read the city data file and store it in a pandas DataFrame.
city_data_df = pd.read_csv(city_data_to_load)
city_data_df.head(10)

            city  driver_count   type
0    Richardfort            38  Urban
1   Williamsstad            59  Urban
2    Port Angela            67  Urban
3     Rodneyfort            34  Urban
4    West Robert            39  Urban
5   West Anthony            70  Urban
6    West Angela            48  Urban
7  Martinezhaven            25  Urban
8      Karenberg            22  Urban
9    Barajasview            26  Urban

In [4]:
# Read the ride data file and store it in a pandas DataFrame.
ride_data_df = pd.read_csv(ride_data_to_load)
ride_data_df.head(10)

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2019-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2019-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2019-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2019-02-10 23:22:03  23.44  5149245426178
4          South Jack  2019-03-06 04:28:35  34.58  3908451377344
5        South Latoya  2019-03-11 12:26:48   9.52  1994999424437
6       New Paulville  2019-02-27 11:17:56  43.25   793208410091
7        Simpsonburgh  2019-04-26 00:43:24  35.98   111953927754
8     South Karenland  2019-01-08 03:28:48  35.09  7995623208694
9       North Jasmine  2019-03-09 06:26:29  42.81  5327642267789

In [18]:
# Read CSV files to pandas df
df1 = pd.read_csv('/Users/mcj/Desktop/Utah Forge Data/56-32_Pason_Archive/27029986-3.csv')
df2 = pd.read_csv('/Users/mcj/Desktop/Utah Forge Data/56-32_Pason_Archive/27029986-4.csv')
df3 = pd.read_csv('/Users/mcj/Desktop/Utah Forge Data/56-32_Pason_Archive/27029986-5.csv')
df4 = pd.read_csv('/Users/mcj/Desktop/Utah Forge Data/56-32_Pason_Archive/27029986-6.csv')

In [20]:
# Concat dfs to one df
df = pd.concat([df1,df2,df3,df4])

In [33]:
# Get row count
len(df)

2506166

In [22]:
# Check min and max for each hole size
df.groupby('Hole Diameter (in)').agg({'Hole Depth (feet)': [np.min, np.max]}).sort_index(ascending=False)

                   Hole Depth (feet)
                                amin    amax
Hole Diameter (in)
 12.50                        380.50  3511.8
 8.75                         855.00  9147.8
-999.25                      -999.25   449.0

In [23]:
# Correct 17.5" Hole Size
df.loc[(df['Hole Depth (feet)'] >= 0) & (df['Hole Depth (feet)'] <= 382), 'Hole Diameter (in)'] = 17.5

In [24]:
# Correct 12.25" Hole Size
df.loc[(df['Hole Depth (feet)'] > 382) & (df['Hole Depth (feet)'] <= 3494), 'Hole Diameter (in)'] = 12.25

In [25]:
# Correct 8.75" Hole Size
df.loc[(df['Hole Depth (feet)'] > 3494) & (df['Hole Depth (feet)'] <= 9145), 'Hole Diameter (in)'] = 8.75

In [26]:
# Check min and max for each hole size
df.groupby('Hole Diameter (in)').agg({'Hole Depth (feet)': [np.min, np.max]}).sort_index(ascending=False)

                   Hole Depth (feet)
                                amin     amax
Hole Diameter (in)
 17.50                        134.00   382.00
 12.25                        382.10  3494.00
 8.75                        3494.10  9147.80
-999.25                      -999.25  -999.25

In [27]:
# Review -999.25 values
df[df['Hole Diameter (in)'] == -999.25]

,YYYY/MM/DD,HH:MM:SS,Hole Depth (feet),Bit Depth (feet),Rate Of Penetration (ft_per_hr),Weight on Bit (klbs),Hook Load (klbs),Rotary RPM (RPM),Standpipe Pressure (psi),Rotary Torque (kft_lb),...,Wave Smart Limit Status (unitless),Wave SP Tracking Status (unitless),Wave Status (unitless),Wave Stick Slip Status (unitless),Wave Stick Slip Threshold (unitless),Wave WOB Correlation (unitless),Wave WOB Delay (unitless),Wave WOB Integral (klbs),Wave WOB Obj Function (unitless),Wave WOB Optimizer Status (unitless)
207678,2021/02/10,14:26:59,-999.25,-999.25,-999.25,-999.25,34.8,0.03,-999.25,-999.250,...,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
207679,2021/02/10,14:27:00,-999.25,-999.25,-999.25,-999.25,34.4,0.03,-999.25,-999.250,...,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
207680,2021/02/10,14:27:01,-999.25,-999.25,-999.25,-999.25,34.2,0.03,-999.25,-999.250,...,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
207681,2021/02/10,14:27:02,-999.25,-999.25,-999.25,-999.25,34.6,0.03,-999.25,-999.250,...,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
207682,2021/02/10,14:27:03,-999.25,-999.25,-999.25,-999.25,34.3,0.03,-999.25,-999.250,...,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
397747,2021/02/19,14:36:43,-999.25,-999.25,-999.25,-999.25,191.8,-999.25,2986.92,6.711,...,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
397748,2021/02/19,14:36:44,-999.25,-999.25,-999.25,-999.25,192.1,30.39,2986.96,6.781,...,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
397749,2021/02/19,14:36:45,-999.25,-999.25,-999.25,-999.25,192.0,30.39,2988.89,6.384,...,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
397750,2021/02/19,14:36:46,-999.25,-999.25,-999.25,-999.25,191.6,30.39,2988.89,6.375,...,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
397751,2021/02/19,14:36:47,-999.25,-999.25,-999.25,-999.25,192.0,30.39,2989.56,6.730,...,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
397752,2021/02/19,14:36:48,-999.25,-999.25,-999.25,-999.25,191.6,30.39,2995.30,6.618,...,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
397753,2021/02/19,14:36:49,-999.25,-999.25,-999.25,-999.25,191.7,30.39,2992.49,6.468,...,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
310584,2021/02/25,14:50:32,-999.25,-999.25,-999.25,0.50,243.4,-999.25,3250.83,-999.250,...,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
310585,2021/02/25,14:50:33,-999.25,-999.25,-999.25,0.50,243.4,-999.25,3251.34,-999.250,...,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
310586,2021/02/25,14:50:34,-999.25,-999.25,-999.25,0.50,243.4,-999.25,3251.71,-999.250,...,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25
310587,2021/02/25,14:50:35,-999.25,-999.25,-999.25,0.50,243.4,-999.25,3250.25,-999.250,...,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25,-999.25

In [28]:
# Drop rows with -999.25 for bit diameter
df = df[df['Hole Diameter (in)'] != -999.25]

In [29]:
# Check min and max for each hole size
df.groupby('Hole Diameter (in)').agg({'Hole Depth (feet)': [np.min, np.max]}).sort_index(ascending=False)

                   Hole Depth (feet)
                                amin    amax
Hole Diameter (in)
17.50                          134.0   382.0
12.25                          382.1  3494.0
8.75                          3494.1  9147.8